.container {
  min-height: 100vh;
  display: flex;
  background: #C0EB6A;
  justify-content: center;
  align-items: center;
}

.column {
  flex-grow: 2;
}

.form-wrapper {
  flex-grow: 2;
  height: 100px;
}

.form > input{
  width: 100%;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 1rem 1rem;
  margin: 1rem 0;
  border: 0.5rem solid #485550;
  font-size: 1.2rem;
}

.helper-text {
  color: #485550;
  text-align: center;
  font-size: 0.8rem;
}

.error-text {
  color: #EF5939;
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.change {
  width: 25%;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -5px 0px 10px #485550;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
}

.change > h3 {
  padding: 2rem;
  text-align: center;
}

.change > ul {
  list-style-type: none;
}

.change > ul > li {
  padding: 1.2rem;
  margin: 0 1rem;
  border-bottom: 2px solid #DFDDC5;
}
.developer-text {
  position: fixed;
  bottom: 30px;
  width: 100%;
  text-align: center
}

@media only screen and (max-width: 750px) {
  .change {
    width: 50%;
  }
}